/*------------------------------------*\
  Temperary
\*------------------------------------*/

*{
    font-family: Arial;
}

p{
    text-align: center;
    margin: 2%
}

.navbar{
    background-color:   #37C3FF;
    width:              100%;
    margin-bottom:      auto;
    font-size:          1vw;
}

body {
    display:            grid;
    margin:             0;
    background-color:   #CAFFFF;
    color:              #4D4D4D;
}

button{
    display: block;
}